# Common settings

.github/* @VirtoCommerce/platform
.gitignore @VirtoCommerce/platform

# Main Code and Tests

src/* @VirtoCommerce/platform
tests/* @VirtoCommerce/platform
.editorconfig @VirtoCommerce/platform
VirtoCommerce.AttributeGrid.sln @VirtoCommerce/platform

# Docs
docs/* @VirtoCommerce/platform
