<div class="blade-content">
  <div class="blade-inner">
    <div class="inner-block">
      <div ng-if="!blade.currentEntities.length" class="text-center" style="padding: 40px;">
        <i class="fa fa-trash-o fa-3x text-muted"></i>
        <p class="text-muted" style="margin-top: 10px;">{{ 'AttributeGrid.blades.trash.empty' | translate }}</p>
      </div>

      <table class="table table-hover" ng-if="blade.currentEntities.length">
        <thead>
          <tr>
            <th>{{ 'AttributeGrid.blades.trash.columns.name' | translate }}</th>
            <th>{{ 'AttributeGrid.blades.trash.columns.deleted' | translate }}</th>
            <th>{{ 'AttributeGrid.blades.trash.columns.deletedBy' | translate }}</th>
            <th>{{ 'AttributeGrid.blades.trash.columns.expires' | translate }}</th>
            <th style="width: 120px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in blade.currentEntities">
            <td><strong>{{item.propertyName}}</strong></td>
            <td>{{item.deletedDate | date:'dd.MM.yyyy HH:mm'}}</td>
            <td>{{item.deletedBy}}</td>
            <td>{{item.expirationDate | date:'dd.MM.yyyy'}}</td>
            <td>
              <button class="btn btn-sm btn-success" ng-click="restore(item)">
                <i class="fa fa-undo"></i>
                {{ 'AttributeGrid.blades.trash.restore' | translate }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
