<div class="blade-content">
  <div class="blade-inner">
    <div class="inner-block attribute-grid">
      <div class="attribute-grid__header">
        <h2 class="attribute-grid__title">Attributes</h2>
        <div class="attribute-grid__actions">
          <button class="btn" type="button" ng-click="blade.refresh()">
            <i class="fa fa-refresh"></i>
            Refresh
          </button>
          <button class="btn" type="button" ng-click="openTrash()">
            <i class="fa fa-trash"></i>
            Trash
          </button>
        </div>
      </div>

      <div class="attribute-grid__filters">
        <input type="text"
               class="attribute-grid__input"
               placeholder="Search attributes..."
               ng-model="filters.keyword">
        <div class="attribute-grid__catalog-select" ng-click="openCatalogSelector()">
          <div class="attribute-grid__input attribute-grid__catalog-input">
            <span class="attribute-grid__catalog-placeholder" ng-if="!filters.catalogName">All catalogs</span>
            <span class="attribute-grid__catalog-name" ng-if="filters.catalogName">{{filters.catalogName}}</span>
          </div>
          <button class="attribute-grid__catalog-button" type="button">
            <i class="fa fa-folder-open"></i>
          </button>
          <button class="attribute-grid__catalog-clear"
                  type="button"
                  ng-if="filters.catalogId"
                  ng-click="clearCatalogFilter($event)">
            <i class="fa fa-times"></i>
          </button>
        </div>
        <select class="attribute-grid__input"
                ng-model="filters.valueType"
                ng-options="type.value as type.title for type in valueTypes">
        </select>
        <select class="attribute-grid__input"
                ng-model="filters.propertyType"
                ng-options="type.value as type.title for type in propertyTypes">
        </select>
      </div>

      <table class="table attribute-grid__table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Type</th>
            <th>Scope</th>
            <th>Owner</th>
            <th>Filter</th>
            <th>Required</th>
            <th>Usage</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in blade.currentEntities">
            <td><strong>{{item.name}}</strong></td>
            <td>{{item.code}}</td>
            <td>
              <span ng-if="item.isDictionary" class="label label-info">Dictionary</span>
              <span ng-if="!item.isDictionary">{{item.valueType}}</span>
            </td>
            <td>{{item.propertyType}}</td>
            <td>{{item.ownerPath}}</td>
            <td>
              <input type="checkbox"
                     ng-checked="item.isFilterable"
                     ng-click="toggleFilterable(item)">
            </td>
            <td>
              <span ng-if="item.isRequired">✓</span>
              <span ng-if="!item.isRequired">—</span>
            </td>
            <td>{{item.usageCount}} items</td>
            <td class="attribute-grid__row-actions">
              <button class="btn" type="button" ng-click="openDetail(item)">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn" type="button" ng-click="deleteProperty(item)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr ng-if="!blade.currentEntities.length">
            <td colspan="9">No attributes found.</td>
          </tr>
        </tbody>
      </table>

      <div class="text-center">
        <ul uib-pagination
            total-items="pageSettings.totalItems"
            ng-model="pageSettings.currentPage"
            items-per-page="pageSettings.itemsPerPageCount"
            ng-change="pageSettings.pageChanged()">
        </ul>
      </div>
    </div>
  </div>
</div>
