<div class="blade-content">
  <div class="blade-inner">
    <form name="formScope" class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-3">Name</label>
        <div class="col-sm-9">
          <p class="form-control-static" ng-if="!blade.isNew">
            <strong>{{blade.currentEntity.name}}</strong>
          </p>
          <input class="form-control" ng-if="blade.isNew" ng-model="blade.currentEntity.name" placeholder="Введите имя атрибута">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Code</label>
        <div class="col-sm-9">
          <p class="form-control-static" ng-if="!blade.isNew">
            <code>{{blade.currentEntity.code}}</code>
          </p>
          <input class="form-control" ng-if="blade.isNew" ng-model="blade.currentEntity.code" placeholder="Code (если пусто — будет как Name)">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Type</label>
        <div class="col-sm-9">
          <p class="form-control-static" ng-if="!blade.isNew">{{blade.currentEntity.valueType}}</p>
          <select class="form-control" ng-if="blade.isNew" ng-model="blade.currentEntity.valueType">
            <option value="ShortText">ShortText</option>
            <option value="LongText">LongText</option>
            <option value="Number">Number</option>
            <option value="DateTime">DateTime</option>
            <option value="Boolean">Boolean</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Owner</label>
        <div class="col-sm-9">
          <p class="form-control-static">
            <i class="fa fa-folder-o"></i>
            {{blade.currentEntity.ownerPath}}
          </p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Scope</label>
        <div class="col-sm-9">
          <p class="form-control-static" ng-if="!blade.isNew">{{blade.currentEntity.propertyType}}</p>
          <select class="form-control" ng-if="blade.isNew" ng-model="blade.currentEntity.propertyType">
            <option value="Product">Product</option>
            <option value="Category">Category</option>
            <option value="Catalog">Catalog</option>
          </select>
        </div>
      </div>

      <hr>

      <div class="form-group">
        <label class="control-label col-sm-3">Show in filters</label>
        <div class="col-sm-9">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="blade.currentEntity.isFilterable">
              IsFilterable
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Required</label>
        <div class="col-sm-9">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="blade.currentEntity.isRequired">
              IsRequired
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Multivalue</label>
        <div class="col-sm-9">
          <p class="form-control-static">
            <i class="fa" ng-class="blade.currentEntity.isMultivalue ? 'fa-check text-success' : 'fa-times text-muted'"></i>
            {{blade.currentEntity.isMultivalue ? 'Yes' : 'No'}}
          </p>
        </div>
      </div>

      <hr>

      <div class="form-group">
        <label class="control-label col-sm-3">Usage</label>
        <div class="col-sm-9">
          <p class="form-control-static">
            <span class="badge">{{blade.currentEntity.usageCount}}</span>
            items
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
